@model EntityLayer.Concreate.Category

@{
    Layout = null;
}

<html>
<head>
    <title>Kategori Ekle</title>
    <link href="~/AdminLTE-3.0.4/login-form-20/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
    {
        <div class="form-group">

            @Html.Label("Kategori adı")
            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br />
            @Html.Label("Kategori açıklama")
            @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br />
            <button class="btn btn-info">Kaydet</button>
        </div>

    }
</body>
</html>



